<div class="search_bar">
  <%= form_tag(root_path, method: 'get', class: "form-inline") do %>
    <%= text_field_tag :query, nil, class: "form-control search-input", placeholder: "Search Github repositories..." %>
  <% end %>
</div>